.form-group .form-control{
	width:100%;
}
.search-bar{
	margin: 40px 0px 20px 0px;
	text-align: left;
}
.video-item img{
	max-width: 64px;
}
.video-detail .details{
	marign-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.list-group-item{
	cursor: pointer;
}
.list-group-item:hover{
	background-color: #eee;
}
.align-right{
	float:right;
}
